.headerContainer{
  background: var(--gray-700);
}

.headerContent {
  max-width: 736px;
  height: 12.5rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent img {
  width: 7.875rem;
  height: 3rem;
}
